body{
    margin: 0px; 
    width: 100%;   
}

.logo{
    width: 100%;
    height: 20%;
}

.navigation{
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 1%;
  display: flex;
  width: 100%;
  border-style: groove;
  border-color: black;
  border-left: transparent;
  border-right: transparent;
  top: 0;
  position: sticky;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 100%;
  z-index: 3;
}

.logo__image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    opacity: 100%;
}

.navigation__link{
    float: left;
    text-decoration: none;
    text-align: center;
    padding: 0.5em 0.5em 0.5em 0.5em;
    color: black;
    font-size: 1.5vw;
    font-family: "Comic Sans MS";
}

.navigation__link:hover{
    color: gray;
    cursor: pointer;
}

/* .content{
    padding: 1px 0px 1px 0px;
    background-color: #edfbfc;
    width: 100%;
    height: auto;
} */
img
{
    width: 100%;
}

.car-img{
  opacity: 60%;
}
.overlay
{
    width: 100%;
    height:auto;
    display: flex;
    position: relative; 
    align-items: center;
    justify-content: center;
}

h1{
  -webkit-text-stroke: 0.05em white;
    font-family: "Comic Sans MS";
    position: absolute;
    overflow: hidden;
    z-index: 2;
    font-size: 5vw; 
    text-align: center; 
    white-space: nowrap;
}

h1{
animation: text-animation 4s steps(46, end) 1s 1 normal both;
}

@keyframes text-animation{
  from{width: 0;}
  to{
      width: 100%;
  }
}

h2{
    font-size:3vw;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    font-family: "Comic Sans MS";
    width: 100%;
    height: auto;
}
.line1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .line1 img {
    /* display: flex; */
  justify-content: space-between;
  align-items: center;
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
  }
  
  .wrapper img {
    width: 70%;
    height: auto;
  }
  #photo-9
  {
    
    width: 25vw ;
    height:14.688 vw;
  }
  #photo-10
  {
    height: 15.625vw;
    
  }
  
  #photo-13
  {
    height: 15.625vw;
    width: 25vw ;
  }
  #photo-14
  {
    height: auto;
    width: 25vw ;
  }
  #photo-15
  {
    height:  14vw;
    width: 25vw ;
  }
  #photo-17
  {
    height: 15.625vw;
    width: 25vw;
  }
  #photo-18
  {
    height: 15.625vw;
    width: 25vw ;
  }
  #photo-20
  {
    height: 15.625vw;
    width: 25vw ;
  }
  .photo-caption {
    margin-top: 0.5cm;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 2vw;
    background-color: #121110;
    border: 2px solid #ff0000;
    border-radius: 10px;
    padding: 2%;
    text-align: center;
  }
  #text10
  {
    font-size: 1.5vw;
  }
  #text12
  {
    font-size: 1.5vw;
  }
  #text13
  {
    font-size: 1.25vw;
  }
  #text19
  {
    font-size: 1.5vw;
  }
  #text20
  {
    font-size: 1.5vw;
  }
  .photo-caption:hover{
    cursor: pointer;
    color:rgb(210, 22, 22)
  }
.footer{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    padding: 1px 0px 1px 0px;
}

.ranking {
  width: 3%;
  margin-left: 1%;
}

.profile {
  width: 3%;
  margin-right: 1%;
}

.footer {
  width: 100%;
  height: auto;
  background-color: black;
  color: white;
  padding: 1px 0px 1px 0px;
  justify-content: center;
  text-align: center;
  bottom: 0;
}

.footer__nav {
  padding-top: 2%;
  align-items: center;
  overflow: hidden;
  padding-bottom: 1%;
}

.nav_link {
  font-size: 0.9vw;
  text-decoration: none;
  color: gray;
  font-family: "Comic Sans MS";
  display: grid;
  padding: 0.2em;
}

.nav_link:hover {
  color: white;
}

.img_nav {
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.icon {
  padding: 0.5em;
  width: 2.2%;
  height: 2.2%;
}

.icon:hover {
  cursor: pointer;
}

.rot {
  font-family: "Comic Sans MS";
  font-size: 0.7vw;
}

